# Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by the
age groups. Create a list that contains a numeric value for each response to the categorical
variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’
of iris.csv dataset.




Statistics is the science of collecting data and analysing them to infer proportions (sample)
that are representative of the population.

 
 
 Commonly Used Measures
1. Measures of Central Tendency
2. Measures of Dispersion (or Variability)

● Measures of Central Tendency
A Measure of Central Tendency is a one number summary of the data that
typically describes the centre of the data. 


1. Mean : Mean is defined as the ratio of the sum of all the observations in the data to the total number of observations. This is also known as Average. 

2. Median : Median is the point which divides the entire data into two equal halves.

3. Mode : Mode is the number which has the maximum frequency

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=sns.load_dataset('iris')

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df.mean()

C:\Users\suyog\AppData\Local\Temp\ipykernel_15928\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [6]:
import warnings
warnings.simplefilter(action="ignore",category=FutureWarning)

In [7]:
df.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.4          0.2      setosa
1           NaN          NaN           1.5          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

In [8]:
df.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [9]:
df.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [10]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [11]:
df['sepal_length'].mean()

5.843333333333334

In [12]:
data={"gender":['male','female','male','male'],"age":[33,35,43,26],"income":[22,34,38,40]}

In [13]:
newdf=pd.DataFrame(data)

In [14]:
newdf

   gender  age  income
0    male   33      22
1  female   35      34
2    male   43      38
3    male   26      40

In [15]:
newdf.groupby(['gender'])['income'].mean()

gender
female    34.000000
male      33.333333
Name: income, dtype: float64

In [16]:
newdf.groupby(['gender'])['age'].mean()

gender
female    35.0
male      34.0
Name: age, dtype: float64

### Standerd Deviation

In [17]:
df.petal_length.std()

1.7652982332594662

In [18]:
df.groupby(['species'])['petal_length'].std()

species
setosa        0.173664
versicolor    0.469911
virginica     0.551895
Name: petal_length, dtype: float64

## percentile

In [19]:
# Get the values of the selected column
column_values = newdf['income'].values


percentile_value=30


# Calculate the percentile using the percentile() function from NumPy
percentile = np.percentile(column_values, percentile_value)

# Print the calculated percentile
print(f"The {percentile_value}th percentile of {'income'} is: {percentile}")

The 30th percentile of income is: 32.8